*{
    margin: 0;
    padding: 0;
}

.f-h100{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
}
.w-50{
    width: 50%;
}
.d-flex{
    display: flex;
}
.w-100{
    width: 100%;
    height: 50vh;
}
.bg1{
    background: url('../images/nike1.jpg')
}
.bg2{
    background: greenyellow;
}

@media(max-width:768px){
    .d-flex{
        flex-direction: column;
    }
    .w-50{
        width: 100%;
    }
}