@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
.f-h100{
    width: 100%;

}
.title{
    margin-top: 50px;
}
.title p{
    width: 70px;
    height: 35px;
    font-size: 18px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    border-bottom: 4px solid #111;
    margin-top: 50px;
}
.title h2{
    font-size: 44px;
    text-align: right;
}
.title b{
    font-weight: 800;
}
.w-50{
    width: 50%;
    height: 458px;
}
.d-flex{
    display: flex;
}
.gap{
    gap: 0 10px;
}
.title{
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.w-100{
    width: 100%;
}
.bg1{
    background: url('../images/bg1.jpg') no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.bg2{
    background: url('../images/bg2.jpg') no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.bg3{
    background: url('../images/bg3.jpg') no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.box h4{
    position: relative;
    font-size: 40px;
    color: #fff;
    font-weight: 600;
}
.box p{
    position: relative;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
}
.bg1 h4{
    margin: 100px 50px 25px;
}
.bg1 p{
    margin-left: 50px;
    line-height: 140%;
}
.bg2 h4{
    margin: 100px 50px 25px;
}
.bg2 p{
    margin-left: 50px;
    line-height: 140%;
}
.bg3 h4{
    margin: 100px 50px 25px;
}
.bg3 p{
    margin-left: 50px;
    line-height: 140%;
}


@media(max-width:768px){
.d-flex{
    flex-direction: column;
}
.w-50{
    width: 100%;
}
.gap{
    gap: 10px 0;
}
}